# Jejune example configuration.

# Path configuration.
# By default, paths are relative from the Jejune installation directory.
paths:
  # The RDF store is where RDF objects are stored and loaded from disk.
  rdf: store/rdf

  # The user database stores usernames, passwords and other local preferences
  # for local actors.
  userdb: store/userdb

  # The static web assets path.  Point this at your web client, like Pleroma FE.
  static: static

  # Upload path.  Point this to your uploaded assets.
  upload: store/upload

# Listener configuration.
listener:
  # The IP address to bind to.
  bind: 127.0.0.1

  # The port to listen for HTTP requests on.
  port: 8080

# Instance configuration.
instance:
  # The name of the instance.
  name: A Misconfigured Jejune Instance

  # The hostname of the instance, used for generating URIs, etc.
  hostname: misconfigured.example

  # The data returned by the Pleroma frontend_configurations API.
  frontend-configurations:
    pleroma_fe:
      alwaysShowSubjectInput: true,
      background: "/static/aurora_borealis.jpg"
      collapseMessageWithSubject: true
      loginMethod: password
      subjectLineBehavior: email

  # Limits for posts and uploads.
  limits:
    # The maximum length of a post.
    post-chars: 5000

    # Maximum avatar size (in bytes).
    avatar-size: 2000000

    # Maximum background size (in bytes).
    background-size: 4000000

    # Maximum banner size (in bytes).
    banner-size: 4000000

    # General upload limit (in bytes).
    general-upload-size: 16000000

    # The maximum number of items to crawl while building a timeline.
    timeline-length: 4096

  # Whether registrations are enabled.
  registrations: true

# Federation configuration.
federation:
  # Whether federation is enabled at all.
  enabled: true
