@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?37792769');
  src: url('../font/fontello.eot?37792769#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?37792769') format('woff2'),
       url('../font/fontello.woff?37792769') format('woff'),
       url('../font/fontello.ttf?37792769') format('truetype'),
       url('../font/fontello.svg?37792769#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37792769#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-retweet:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-font:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-videocam:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-arrows-cw:before { content: '\e80c'; } /* '' */
.icon-upload:before { content: '\e80d'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */